*.pem
service.*
service.*
*.p12
*.jks

# Local terraform directories
.terraform
.secrets.tfvars
*.plan
**/.terraform/plugins
**/.terraform/modules

terraform.tfstate
.terraform.lock.hcl
terraform.*

kafka-config/*

# IntelliJ IDEA
.idea/*
.idea

# VSCode
*.vscode

# MacOS Files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Thumbnails
._*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
